@use "../utilities/variables";
/*Una franquicia para la historia*/
.franquicia{
    margin-top: 160px;
    margin-left: 10%;
    & h1{
        font-weight: 700;
        font-size: clamp(3rem, 5vw + 0.5rem, 10rem);
        margin-bottom: -16px;
        
        &:nth-child(4){
            color: variables.$color-primario;
            margin-bottom: 30px;
        }
    }
    & p{
        width:90%;
        margin-top: 30px;
    }
}